<p>
  <b>First Name:</b>
  <%= @student.fname %>
</p>

<p>
  <b>Last Name:</b>
  <%= @student.lname %>
</p>

<p>
  <b>Email:</b>
  <%= @student.email %>
</p>

<p>
  <b>Degree:</b>
  <%= @student.degree %>
</p>

<p>
  <b>Project Title:</b>
  <%= @student.proj_title %>
</p>

<p>
  <b>Dept:</b>
  <%= @student.dept %>
</p>


<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
