<table>
    <tr>
      <th><%= sortable "title" %></th>
      <th><%= sortable "agency" %></th>
      <th><%= sortable "dept" %></th>
      <th><%= sortable "researcher_id", "Researcher" %></th>
      <% if session[:user_id] %>
        <th></th>
        <th></th>
        <th></th>
        <% end %>

    </tr>

  <% @projects.each do |project| %>
    <tr>
      <td><%= link_to_if project.has_attachment?, project.title, project.abstract.url %></td>
      <td><%= project.agency %></td>
      <td><%= project.dept %></td>
      <td><%= project.researcher.lname if project.researcher %></td>
        <% if session[:user_id] %>
        <td><%= link_to 'Show', project %></td>
        <td><%= link_to 'Edit', edit_project_path(project) %></td>
        <td><%= link_to 'Destroy', project, :confirm => 'Are you sure?', :method => :delete %></td>
        <% end %>
    </tr>
  <% end %>
</table>